body {
	font-family: 'Raleway', Helvetica, Arial, sans-serif;
	width: 760px;
	margin: auto;
	font-weight: 300;
}
h1, h2 {
	text-align: center;
}
h1 {
	margin-bottom: 0;
}
h2, h4, h5 {
	margin: 0;
}
h2 {
	font-size: 1.2em;
}
h3 {
	margin-bottom: 0em;
}
h4, h5 {
	font-size: 1em;
}
h4 {
	float: left;
}
h5 {
	float: right;
	font-style: italic;
	font-weight: 300;
	color: #999;
}
a {
	color: #348ac8;
	text-decoration: none;
}
ul {
	margin-top: 0;
}
.clearfix {
	clear: both;
}
@media print {
	body {
		width: 95%;
	}
	a {
		color: #348ac8;
	}
}
